body{
    padding-top: 10px;
}

.menu-not-found{
    display: none;
}

.menu-details {
    display: none;
}


.menu-description{
    font-size: 20px;
    font-style: italic;
}

.menu-row{
    height: 150px;
    font-size: 25px;
}

.card{
    padding-top: 20px;
}
