{% include 'base.html' %}

<div class="container-fluid">
    <div class="col-md-12">
        <a href="/"> <- Powrót</a>
    </div>
    <div class="col-md-12">
        <h1 class="menu-name">{{object.name}}</h1>
        <p class="menu-description">{{object.description}}</p>
    </div>
    <div class="col-md-12 card">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Czas przygotowania</th>
                <th scope="col">Danie vegetariańskie</th>
                <th scope="col"></th>
                <th scope="col">Cena</th>
            </tr>
            </thead>
            <tbody class="dish-row">

            {% for dish in object.dishes.all %}
            <tr class="menu-row">
                <td>{{ dish.name }}</td>
                <td>{{ dish.preparation_time }} min</td>
                <td>
                    {% if dish.id_vegetarian %}
                    Tak
                    {% else %}
                    Nie
                    {% endif %}
                </td>
                <td>
                    {% if dish.picture %}
                    <img src="{{ dish.picture.url }}" width=250 height=150>
                    {% else %}
                    <img src="/static/img/no_img.svg" width=250 height=150>
                    {% endif %}
                </td>
                <td>{{ dish.price }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
